---
- hosts: all
  become: true
  tasks:
    - name: Install Apache
      ansible.builtin.apt:
        name: apache2
        state: present

    - name: Configure Apache for port 8080
      ansible.builtin.lineinfile:
        path: /etc/apache2/ports.conf
        regexp: '^#Listen 80'
        line: 'Listen 8080'
        state: present
      notify: Restart Apache

    - name: Configure VirtualHost
      ansible.builtin.template:
        src: templates/virtualhost.conf.j2
        dest: /etc/apache2/sites-available/000-default.conf
        owner: root
        group: root
        mode: 0644
      notify: Restart Apache

    - name: Enable VirtualHost
      ansible.builtin.file:
        src: /etc/apache2/sites-available/000-default.conf
        dest: /etc/apache2/sites-enabled/000-default.conf
        state: link
      notify: Restart Apache

    - name: Restart Apache
      ansible.builtin.service:
        name: apache2
        state: restarted
      listen:
