---
- hosts: all
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Apache
      apt:
        name: apache2
        state: present

    - name: Create Apache configuration file
      template:
        src: templates/apache.conf.j2
        dest: /etc/apache2/ports.conf
        owner: root
        group: root
        mode: 0644

    - name: Enable Apache configuration
      lineinfile:
        path: /etc/apache2/ports.conf
        regexp: '^#Listen 80$'
        line: 'Listen 8080'
        state: present

    - name: Restart Apache service
      service:
        name: apache2
        state: restarted
