---
- name: Install Apache
  hosts: all
  become: true
  tasks:
    - name: Install Apache package
      ansible.builtin.apt:
        name: apache2
        state: present

    - name: Configure Apache to listen on port 8080
      ansible.builtin.lineinfile:
        path: /etc/apache2/ports.conf
        regexp: '^Listen 880'
        line: Listen 8080
        owner: root
        group: root
        mode: '0644'
        state: present

    - name: Configure Apache to listen on IP 165.232.123.212
      ansible.builtin.lineinfile:
        path: /etc/apache2/ports.conf
        regexp: '^Listen 165\.232\.123\.212'
        line: Listen 165.232.123.212
        owner: root
        group: root
        mode: '0644'
        state: present

    - name: Restart Apache service
      ansible.builtin.service:
        name: apache2
        state: restarted
