- name: Instalar y configurar Apache para escuchar en el puerto 8080
  hosts: all
  become: true
  tasks:
    - name: Asegurarse de que el paquete Apache (apache2) está instalado
      ansible.builtin.apt:
        name: apache2
        state: present
        update_cache: yes

    - name: Configurar Apache para escuchar en el puerto 8080 en ports.conf
      ansible.builtin.lineinfile:
        path: /etc/apache2/ports.conf
        regexp: '^Listen 80$'
        line: 'Listen 8080'
        backup: yes
      notify: Recargar Apache

    - name: Configurar el VirtualHost por defecto para el puerto 8080
      ansible.builtin.lineinfile:
        path: /etc/apache2/sites-available/000-default.conf
        regexp: '^<VirtualHost \*:80>$'
        line: '<VirtualHost *:8080>'
        backup: yes
      notify: Recargar Apache

    - name: Asegurarse de que el servicio Apache (apache2) está iniciado y habilitado
      ansible.builtin.systemd:
        name: apache2
        state: started
        enabled: yes

  handlers:
    - name: Recargar Apache
      ansible.builtin.systemd:
        name: apache2
        state: reloaded