---
- name: Instalar y configurar Apache con puerto 8080
  hosts: all
  become: true

  tasks:
    - name: Instalar el paquete de Apache
      ansible.builtin.package:
        name: "{{ 'apache2' if ansible_os_family == 'Debian' else 'httpd' }}"
        state: present

    - name: Asegurar que el servicio de Apache esté corriendo y habilitado
      ansible.builtin.service:
        name: "{{ 'apache2' if ansible_os_family == 'Debian' else 'httpd' }}"
        state: started
        enabled: true

    - name: Comentar la directiva 'Listen 80' en Debian/Ubuntu
      ansible.builtin.lineinfile:
        path: /etc/apache2/ports.conf
        regexp: '^(Listen)\s+80$'
        line: '#\1 80'
        state: present
      when: ansible_os_family == 'Debian'
      notify: Reiniciar Apache

    - name: Asegurar que 'Listen 8080' esté presente en Debian/Ubuntu
      ansible.builtin.lineinfile:
        path: /etc/apache2/ports.conf
        regexp: '^Listen\s+8080$'
        line: 'Listen 8080'
        state: present
        insertafter: '^Listen\s+\d+|# Listen 80$'
      when: ansible_os_family == 'Debian'
      notify: Reiniciar Apache

    - name: Configurar VirtualHost para usar el puerto 8080 en Debian/Ubuntu
      ansible.builtin.lineinfile:
        path: /etc/apache2/ports.conf
        regexp: '^(\s*<VirtualHost \*):80>$'
        line: '\1:8080>'
        backrefs: true
        state: present
      when: ansible_os_family == 'Debian'
      notify: Reiniciar Apache

    - name: Comentar la directiva 'Listen 80' en RedHat/CentOS
      ansible.builtin.lineinfile:
        path: /etc/httpd/conf/httpd.conf
        regexp: '^(Listen)\s+80$'
        line: '#\1 80'
        state: present
      when: ansible_os_family == 'RedHat'
      notify: Reiniciar Apache

    - name: Asegurar que 'Listen 8080' esté presente en RedHat/CentOS
      ansible.builtin.lineinfile:
        path: /etc/httpd/conf/httpd.conf
        regexp: '^Listen\s+8080$'
        line: 'Listen 8080'
        state: present
        insertafter: '^Listen\s+\d+|# Listen 80$'
      when: ansible_os_family == 'RedHat'
      notify: Reiniciar Apache

  handlers:
    - name: Reiniciar Apache
      ansible.builtin.service:
        name: "{{ 'apache2' if ansible_os_family == 'Debian' else 'httpd' }}"
        state: restarted