- name: Instalar y configurar Apache para escuchar en el puerto 8080
  hosts: all
  become: true

  tasks:
    - name: Instalar Apache (familia RedHat)
      ansible.builtin.package:
        name: httpd
        state: present
      when: ansible_os_family == "RedHat"

    - name: Instalar Apache (familia Debian)
      ansible.builtin.package:
        name: apache2
        state: present
      when: ansible_os_family == "Debian"

    - name: Asegurar permisos para el archivo de configuración principal de Apache (familia RedHat)
      ansible.builtin.file:
        path: /etc/httpd/conf/httpd.conf
        owner: root
        group: root
        mode: '0644'
      when: ansible_os_family == "RedHat"

    - name: Asegurar permisos para el archivo de puertos de Apache (familia Debian)
      ansible.builtin.file:
        path: /etc/apache2/ports.conf
        owner: root
        group: root
        mode: '0644'
      when: ansible_os_family == "Debian"

    - name: Asegurar permisos para el archivo de configuración del VirtualHost por defecto de Apache (familia Debian)
      ansible.builtin.file:
        path: /etc/apache2/sites-available/000-default.conf
        owner: root
        group: root
        mode: '0644'
      when: ansible_os_family == "Debian"

    - name: Eliminar la directiva 'Listen 80' si existe (familia RedHat)
      ansible.builtin.lineinfile:
        path: /etc/httpd/conf/httpd.conf
        regexp: '^Listen 80$'
        state: absent
        backup: true
      when: ansible_os_family == "RedHat"
      notify: Reiniciar servicio Apache

    - name: Asegurar que Apache escuche en el puerto 8080 (familia RedHat)
      ansible.builtin.lineinfile:
        path: /etc/httpd/conf/httpd.conf
        regexp: '^Listen 8080$'
        line: 'Listen 8080'
        insertbefore: '^(#?IncludeOptional conf.d/\*.conf|ServerName)'
        state: present
        backup: true
      when: ansible_os_family == "RedHat"
      notify: Reiniciar servicio Apache

    - name: Eliminar la directiva 'Listen 80' si existe (familia Debian - ports.conf)
      ansible.builtin.lineinfile:
        path: /etc/apache2/ports.conf
        regexp: '^Listen 80$'
        state: absent
        backup: true
      when: ansible_os_family == "Debian"
      notify: Reiniciar servicio Apache

    - name: Asegurar que Apache escuche en el puerto 8080 (familia Debian - ports.conf)
      ansible.builtin.lineinfile:
        path: /etc/apache2/ports.conf
        regexp: '^Listen 8080$'
        line: 'Listen 8080'
        insertafter: '^Listen 443$'
        state: present
        backup: true
      when: ansible_os_family == "Debian"
      notify: Reiniciar servicio Apache

    - name: Configurar VirtualHost de Apache para usar el puerto 8080 (familia Debian - 000-default.conf)
      ansible.builtin.lineinfile:
        path: /etc/apache2/sites-available/000-default.conf
        regexp: '^<VirtualHost \*:80>$'
        line: '<VirtualHost *:8080>'
        backup: true
        state: present
      when: ansible_os_family == "Debian"
      notify: Reiniciar servicio Apache

    - name: Habilitar sitio Apache por defecto (familia Debian)
      ansible.builtin.file:
        src: /etc/apache2/sites-available/000-default.conf
        dest: /etc/apache2/sites-enabled/000-default.conf
        state: link
        owner: root
        group: root
        mode: '0644'
      when: ansible_os_family == "Debian"
      notify: Reiniciar servicio Apache

    - name: Asegurar que el servicio Apache esté corriendo y habilitado (familia RedHat)
      ansible.builtin.service:
        name: httpd
        state: started
        enabled: true
      when: ansible_os_family == "RedHat"

    - name: Asegurar que el servicio Apache esté corriendo y habilitado (familia Debian)
      ansible.builtin.service:
        name: apache2
        state: started
        enabled: true
      when: ansible_os_family == "Debian"

  handlers:
    - name: Reiniciar servicio Apache
      ansible.builtin.service:
        name: "{{ 'httpd' if ansible_os_family == 'RedHat' else 'apache2' }}"
        state: restarted
