---
- name: Install Apache
  hosts: all
  become: true
  tasks:
    - name: Install Apache
      ansible.builtin.apt:
        name: apache2
        state: present

    - name: Configure Apache to listen on port 8080
      ansible.builtin.lineinfile:
        path: /etc/apache2/ports.conf
        regexp: '^Listen 880'
        line: Listen 8080
        owner: root
        group: root
        mode: '0644'
        state: present

    - name: Configure Apache to listen on port 8080 (VirtualHost)
      ansible.builtin.lineinfile:
        path: /etc/apache2/sites-available/000-default.conf
        regexp: '^<VirtualHost *:80>'
        line: '<VirtualHost *:8080>'
        owner: root
        group: root
        mode: '0644'
        state: present

    - name: Enable Apache
      ansible.builtin.systemd:
        name: apache2
        state: started
        enabled: yes
