- name: Instalar Apache y configurar puerto 8080
  hosts: all
  become: true
  vars:
    apache_conf_path: /etc/httpd/conf.d/custom_port.conf
  tasks:
    - name: Instalar apache httpd
      ansible.builtin.yum:
        name: httpd
        state: present

    - name: Crear archivo de configuración para puerto 8080
      ansible.builtin.copy:
        dest: "{{ apache_conf_path }}"
        content: |
          Listen 8080
        owner: root
        group: root
        mode: '0644'
      notify: Reiniciar apache

    - name: Validar configuración de apache
      ansible.builtin.command:
        cmd: apachectl configtest
      register: apache_configtest
      changed_when: false
      failed_when: apache_configtest.rc != 0

  handlers:
    - name: Reiniciar apache
      ansible.builtin.systemd:
        name: httpd
        state: restarted
