---
- name: Instalar y configurar Apache para escuchar en el puerto 8080
  hosts: all
  become: true

  vars:
    apache_service_name: "{{ 'httpd' if ansible_os_family == 'RedHat' else 'apache2' }}"
    apache_config_virtualhost_dir: "{{ '/etc/httpd/conf.d' if ansible_os_family == 'RedHat' else '/etc/apache2/sites-available' }}"
    apache_ports_main_config_file: "{{ '/etc/httpd/conf/httpd.conf' if ansible_os_family == 'RedHat' else '/etc/apache2/ports.conf' }}"
    apache_site_link_dir: "/etc/apache2/sites-enabled"

  tasks:
    - name: Instalar el paquete de Apache
      ansible.builtin.package:
        name: "{{ apache_service_name }}"
        state: present

    - name: Eliminar cualquier directiva 'Listen 80' activa de la configuración principal de Apache
      ansible.builtin.lineinfile:
        path: "{{ apache_ports_main_config_file }}"
        regexp: "^Listen 80$"
        state: absent
        backup: yes
      notify: Restart Apache

    - name: Asegurar que la directiva 'Listen 8080' esté presente en la configuración principal de Apache
      ansible.builtin.lineinfile:
        path: "{{ apache_ports_main_config_file }}"
        line: "Listen 8080"
        insertafter: EOF
        state: present
      notify: Restart Apache

    - name: Crear archivo de configuración de VirtualHost para el puerto 8080
      ansible.builtin.copy:
        dest: "{{ apache_config_virtualhost_dir }}/{{ 'vhost-8080.conf' if ansible_os_family == 'RedHat' else '000-default-8080.conf' }}"
        owner: root
        group: root
        mode: '0644'
        content: |
          <VirtualHost *:8080>
              ServerAdmin webmaster@localhost
              DocumentRoot /var/www/html
              <Directory /var/www/html>
                  Options Indexes FollowSymLinks
                  AllowOverride All
                  Require all granted
              </Directory>
              ErrorLog {{ 'logs/error_log' if ansible_os_family == 'RedHat' else '${APACHE_LOG_DIR}/error.log' }}
              CustomLog {{ 'logs/access_log' if ansible_os_family == 'RedHat' else '${APACHE_LOG_DIR}/access.log' }} combined
          </VirtualHost>
      notify: Restart Apache

    - name: Deshabilitar el VirtualHost predeterminado de Apache que escucha en el puerto 80 (Debian/Ubuntu)
      ansible.builtin.file:
        path: "{{ apache_site_link_dir }}/000-default.conf"
        state: absent
      when: ansible_os_family == "Debian"
      notify: Restart Apache

    - name: Habilitar el VirtualHost para el puerto 8080 (Debian/Ubuntu)
      ansible.builtin.file:
        src: "{{ apache_config_virtualhost_dir }}/000-default-8080.conf"
        dest: "{{ apache_site_link_dir }}/000-default-8080.conf"
        state: link
      when: ansible_os_family == "Debian"
      notify: Restart Apache

    - name: Asegurar que el servicio de Apache esté corriendo y habilitado
      ansible.builtin.service:
        name: "{{ apache_service_name }}"
        state: started
        enabled: true

  handlers:
    - name: Restart Apache
      ansible.builtin.service:
        name: "{{ apache_service_name }}"
        state: restarted
