- hosts: all
  become: true
  tasks:
    - name: Instalar apache2
      ansible.builtin.apt:
        name: apache2
        state: present
        update_cache: yes

    - name: Configurar puerto 8080 en ports.conf
      ansible.builtin.lineinfile:
        path: /etc/apache2/ports.conf
        regexp: '^Listen '
        line: 'Listen 8080'
        owner: root
        group: root
        mode: '0644'
        backrefs: yes
      notify: restarted

    - name: Crear archivo de configuración para VirtualHost en puerto 8080
      ansible.builtin.copy:
        dest: /etc/apache2/sites-available/000-default.conf
        content: |
          <VirtualHost *:8080>
              DocumentRoot /var/www/html
              <Directory /var/www/html>
                  AllowOverride None
                  Require all granted
              </Directory>
              ErrorLog ${APACHE_LOG_DIR}/error.log
              CustomLog ${APACHE_LOG_DIR}/access.log combined
          </VirtualHost>
        owner: root
        group: root
        mode: '0644'
      notify: restarted

    - name: Asegurar que el servicio apache2 esté corriendo
      ansible.builtin.service:
        name: apache2
        state: started
        enabled: yes

  handlers:
    - name: restarted
      ansible.builtin.service:
        name: apache2
        state: restarted
