name: Deploy Apache on Port 8080

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Install Ansible and dependencies
        run: |
          pip install ansible
          pip install sshpass

      - name: Syntax check Ansible playbook
        run: ansible-playbook --syntax-check ansible/playbook.yml -i ansible/inventario

      - name: Execute Ansible playbook
        env:
          ANSIBLE_SSH_PASS: ${{ secrets.ANSIBLE_SSH_PASS }}
        run: ansible-playbook ansible/playbook.yml -i ansible/inventario -e "ansible_ssh_pass=$ANSIBLE_SSH_PASS"
