name: Ejecutar Playbook Ansible

on:
  workflow_dispatch:

jobs:
  run-playbook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Instalar dependencias necesarias
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip sshpass
          pip3 install ansible ansible-lint

      - name: Syntax check del playbook
        run: ansible-playbook ansible/playbook.yml --syntax-check -i ansible/inventory

      - name: Ejecutar playbook Ansible
        env:
          ANSIBLE_SSH_PASS: ${{ secrets.ANSIBLE_SSH_PASS }}
        run: |
          ansible-playbook ansible/playbook.yml \
          -i ansible/inventory \
          -e "ansible_ssh_pass=$ANSIBLE_SSH_PASS" \
          --ssh-extra-args='-o StrictHostKeyChecking=no'