name: Run Ansible Playbook

on:
  workflow_dispatch:

jobs:
  run-ansible-playbook:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python and install Ansible and dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip
        pip3 install ansible ansible-lint

    - name: Install sshpass
      run: |
        sudo apt-get update
        sudo apt-get install -y sshpass

    - name: Check Ansible playbook syntax and linting
      run: |
        ansible-lint ansible/playbook.yml -i ansible/inventory

    - name: Execute Ansible Playbook
      run: |
        ansible-playbook ansible/playbook.yml -i ansible/inventory -e "ansible_ssh_pass=${{ secrets.ANSIBLE_SSH_PASS }}" --ssh-extra-args='-o StrictHostKeyChecking=no'