name: Deploy Apache with Port 8080

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Instalar Ansible y dependencias
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Syntax check del playbook
        run: ansible-playbook --syntax-check root/PracticaFinal/ansible/playbook.yml -i root/PracticaFinal/ansible/inventario

      - name: Ejecutar playbook de Ansible
        run: ansible-playbook root/PracticaFinal/ansible/playbook.yml -i root/PracticaFinal/ansible/inventario
