name: Deploy Apache on Port 8080

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible ansible-lint openssh-client
          sudo apt-get install -y sshpass

      - name: Syntax check Ansible playbook
        uses: ansible/ansible-lint-action@v4

      - name: Configure SSH password
        run: |
          echo "ANSIBLE_SSH_PASS=${{ secrets.ANSIBLE_SSH_PASS }}" > .env
        shell: bash

      - name: Execute Ansible Playbook
        run: |
          ansible-playbook -i ansible/inventory ansible/playbook.yml -e "ansible_ssh_pass=$(cat .env | grep ANSIBLE_SSH_PASS | cut -d'=' -f2)" --ssh-extra-args='-o StrictHostKeyChecking=no'
        working-directory: ./
