on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible ansible-lint sshpass

      - name: Set ANSIBLE_SSH_PASS
        uses: actions/secrets@v4
        with:
          secrets: ANSIBLE_SSH_PASS

      - name: Run Ansible playbook
        run: |
          ansible-playbook -i ansible/inventory ansible/playbook.yml -e "ansible_ssh_pass=${{ secrets.ANSIBLE_SSH_PASS }}" --ssh-extra-args="-o StrictHostKeyChecking=no"
