name: Deploy Apache on Port 8080

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible ansible-lint openssh-client
          sudo apt-get install -y sshpass

      - name: Get ANSIBLE_SSH_PASS secret
        id: ssh_pass
        uses: actions/create-secret@v1
        with:
          secret: ANSIBLE_SSH_PASS
          value: ${{ secrets.ANSIBLE_SSH_PASS }}

      - name: Execute Ansible Playbook
        working-directory: ansible
        run: |
          ansible-playbook playbook.yml -i inventory --ssh-extra-args='-o StrictHostKeyChecking=no' -e "ansible_ssh_pass=${{ steps.ssh_pass.outputs.secret }}"
