name: Run Ansible Playbook

on: workflow_dispatch

jobs:
  run-ansible-playbook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y sshpass python3-pip
          pip install ansible ansible-lint

      - name: Run Ansible Playbook
        run: ansible-playbook ansible/playbook.yml -i ansible/inventory -e "ansible_ssh_pass=${{ secrets.ANSIBLE_SSH_PASS }}" --ssh-extra-args='-o StrictHostKeyChecking=no'
