name: Ansible Playbook Execution

on:
  workflow_dispatch:

jobs:
  execute_ansible_playbook:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Ansible and ansible-lint
        run: |
          python -m pip install --upgrade pip
          pip install ansible ansible-lint

      - name: Install sshpass
        run: |
          sudo apt-get update
          sudo apt-get install -y sshpass

      - name: Run Ansible playbook
        run: |
          ansible-playbook ansible/playbook.yml \
            -i ansible/inventory \
            -e "ansible_ssh_pass=${{ secrets.ANSIBLE_SSH_PASS }}" \
            --ssh-extra-args='-o StrictHostKeyChecking=no'
        env:
          ANSIBLE_SSH_PASS: ${{ secrets.ANSIBLE_SSH_PASS }}
