on:
  workflow_dispatch:

jobs:
  execute_playbook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible ansible-lint sshpass

      - name: Run Ansible Playbook
        run: |
          ansible-playbook -i "localhost,inventory" your_playbook.yml
