name: Deploy Apache on Port 8080

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Ansible
        uses: technetiumdev/actions/setup-ansible@v1

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip
          pip3 install ansible

      - name: Install sshpass
        run: sudo apt-get install -y sshpass

      - name: Syntax check Ansible playbook
        run: ansible-playbook --syntax-check ansible/playbook.yml -i ansible/inventory

      - name: Execute Ansible playbook
        env:
          ANSIBLE_SSH_PASS: ${{ secrets.ANSIBLE_SSH_PASS }}
        run: |
          ansible-playbook ansible/playbook.yml -i ansible/inventory -e "ansible_ssh_pass=$ANSIBLE_SSH_PASS"
