on:
  workflow_dispatch:

jobs:
  execute_ansible_playbook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible ansible-lint sshpass

      - name: Set ANSIBLE_SSH_PASS secret
        uses: peter-evans/set-secret@v1
        with:
          secret: ${{ secrets.ANSIBLE_SSH_PASS }}

      - name: Run Ansible playbook
        run: |
          ansible-playbook ansible/playbook.yml -i ansible/inventory --extra-vars "ansible_ssh_pass=${ANSIBLE_SSH_PASS}" --ssh-extra-args='-o StrictHostKeyChecking=no'
