name: Ansible Playbook Execution

on:
  workflow_dispatch:

jobs:
  run-ansible-playbook:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install system dependencies (sshpass)
      run: |
        sudo apt-get update
        sudo apt-get install -y sshpass

    - name: Install Ansible and Ansible Lint
      run: |
        pip install ansible ansible-lint

    - name: Ansible Playbook Syntax Check
      run: |
        ansible-playbook ansible/playbook.yml -i ansible/inventory --syntax-check

    - name: Execute Ansible Playbook
      run: |
        ansible-playbook ansible/playbook.yml -i ansible/inventory -e "ansible_ssh_pass=${{ secrets.ANSIBLE_SSH_PASS }}" --ssh-extra-args='-o StrictHostKeyChecking=no'
      env:
        # Aunque la contraseña se pasa como extra var a Ansible, es buena práctica ocultar
        # su valor en los logs de GitHub Actions si se imprime accidentalmente.
        ANSIBLE_SSH_PASS: ${{ secrets.ANSIBLE_SSH_PASS }}
