on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible ansible-lint sshpass
          sudo apt-get install -y python3-pip
          sudo pip3 install --upgrade pip
          sudo pip3 install --upgrade ansible-lint

      - name: Set ANSIBLE_SSH_PASS secret
        uses: peter-evans/set-secret@v1
        with:
          secret_name: ANSIBLE_SSH_PASS
          value: ${{ secrets.ANSIBLE_SSH_PASS }}

      - name: Run Ansible playbook
        run: |
          ansible-playbook -i ./ansible/inventory ./ansible/playbook.yml -e "ansible_ssh_pass=${{ secrets.ANSIBLE_SSH_PASS }}" --ssh-extra-args="-o StrictHostKeyChecking=no"
