name: Ansible Playbook Execution
on: workflow_dispatch

jobs:
  run-ansible-playbook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Ansible, Ansible Lint, and Python dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip
          pip install ansible ansible-lint

      - name: Install sshpass
        run: sudo apt install -y sshpass

      - name: Perform Ansible playbook syntax check
        run: ansible-playbook ansible/playbook.yml --syntax-check

      - name: Execute Ansible playbook
        run: ansible-playbook -i ansible/inventory ansible/playbook.yml -e "ansible_ssh_pass=${{ secrets.ANSIBLE_SSH_PASS }}" --ssh-extra-args='-o StrictHostKeyChecking=no'